@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --color-one:#FF8484;
    --color-two:#EFEFEF;
    --color-text:#232323;
    --color-bg:#EFEFEF;
}
body{
    font-family: 'DM Sans', sans-serif;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* để căn giữa thì nên để marginleft và right auto như này */
}
/*  */
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
@media (max-width: 1200px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (max-width: 992px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
