/* header */
.header {
    box-shadow: 0 1px 3px 0 #EFEFEF;
    background-color: #EFEFEF;
    padding: 0 40px;
}
.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner-logo a{
    display: flex;
    align-items: center;
}
.header .inner-logo img{
    height:50px;
    width: auto;
}
.header .inner-logo span{
    font-size: 22px;
    font-weight: 600;
    color:gray;
    margin-left: 10px;
}
.header .inner-menu ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
}
/* Xxét inline-block để có thể thêm padding
Khi click vào vùng trống của ul li hay a đều có thể link sang tra trang khác*/
.header .inner-menu ul li a{
    display: inline-block;
    padding: 35px 20px;
    color:gray;
    font-size: 18px;
    font-weight: 600;
}
.header .inner-menu ul li a:hover{
    background: white;
}
.header .inner-social ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
}
.header .inner-social ul li{
    margin-left: 10px;
}

 .header .inner-social ul li a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height:40px;
    border-radius: 5px;
    background-color: beige;
    font-size: 20px;
    color:var(--color-text);
    font-size: 30px;
    font-weight: 600;
} 

