/* header */
.header {
    box-shadow: 0 1px 3px 0 #EFEFEF;
    background-color: #EFEFEF;
    padding: 0 40px;
}
.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner-logo a{
    display: flex;
    align-items: center;
}
.header .inner-logo img{
    height:50px;
    width: auto;
}
.header .inner-logo span{
    font-size: 22px;
    font-weight: 600;
    color:var(--color-text);
    margin-left: 10px;
}
.header .inner-menu ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
}
/* Xxét inline-block để có thể thêm padding
Khi click vào vùng trống của ul li hay a đều có thể link sang tra trang khác*/
.header .inner-menu ul li a{
    display: inline-block;
    padding: 35px 20px;
    color:var(--color-text);
    font-size: 18px;
    font-weight: 600;
}
.header .inner-menu ul li a:hover{
    background: white;
}
.header .inner-social ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
}
.header .inner-social ul li{
    margin-left: 10px;
}
/* icon thif phải xét cứng kich thướcthước */
/* .header .inner-social ul li a{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height:40px;
    border-radius: 5px;
    background-color: beige;
    font-size: 20px;
    color:var(--color-text);
    font-size: 18px;
    font-weight: 600;
} */
 /* muốn căn giyuwax thì line-height phải bằng height */
 /* hoặc dùng display:inline-flex */
 .header .inner-social ul li a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height:40px;
    border-radius: 5px;
    background-color: beige;
    font-size: 20px;
    color:var(--color-text);
    font-size: 30px;
    font-weight: 600;
} 
.header .inner-iconmobile{
    display: none;
}
@media (max-width:991.98px) {
    .header{
        padding: 15px 20px;

    }

    .header .inner-iconmobile{
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    .header .inner-menu{
        display: none;
    }
    .header .inner-social{
        display: none;
    }
}
/* end header */
/* section-one */
.section-one{
    background-image: url(../image/background1.jpg);
    padding: 100px 0;
    position: relative;
}
/* Tạo lớp phủ bên trên, nhưng đoạn text vẫn nằm  bên dướidưới */
.section-one::before{
    content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
}
/* để text bên trên */
.section-one .inner-wrap{
    position: relative;
    padding: 50px 260px;
}
.section-one .inner-wrap .inner-subtitle{
    color: #EFEFEF;
    font-size: 20px;
    margin-bottom: 10px;
}
.section-one .inner-wrap .inner-title{
    color: #EFEFEF;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section-one .inner-wrap .inner-desc{
    color: #EFEFEF;
    margin-bottom: 50px;
    font-weight: 400;
}
 .button{
    color: var(--color-text);
    background: #EFEFEF;
    border: 2px solid white;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 10px;
}
.button-two{
    background: var(--color-one);
    color: var(--color-text);
    border-color: var(--color-one);
}
 .button-two:hover{
    background:#EFEFEF;
    border-color: #EFEFEF;
}
 .button-two-outline{
    background: transparent;
    color: #EFEFEF;
}
.button-two-outline:hover{
    background:#EFEFEF;
    border-color: #EFEFEF;
    color: var(--color-text);
}
@media (max-width:767.98px){
    .section-one .inner-wrap{
        text-align: center;
    }
    .section-one .button{
        margin-left: 10px;
        margin-bottom: 30px;
    }
}
/* end section-one */
/* section-two */
.section-two{
    padding: 80px 0 50px;
    background: #EFEFEF;

}
.section-two .inner-wrap{
    display: flex;
    align-items: center; /* để 2thawnfg khối căn theo chiều ngang*/

}
.section-two .inner-wrap .inner-image{
    width: 40%;
    margin-right: 5%;
}
.section-two .inner-wrap .inner-image img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
/*  */
.section-two .inner-wrap .inner-content{
    flex: 1; /*khi cho content nhieu cubg khong bi co lai  */

}
.section-two .inner-wrap .inner-sub-title{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;

}
.section-two .inner-wrap .inner-title{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}
.section-two .inner-wrap .inner-list{
    display: flex;
}
.section-two .inner-wrap .inner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Căn chữ và Kí Hiệu theo chiều dọc*/
    background: #fff;
    border-radius: 8px;
    margin-right: 20px;
    width: 140px;
    height: 140px;
}
.section-two .inner-wrap .inner-item i {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--color-one);
}

.section-two .inner-wrap .inner-item span {
    font-weight: 600;
}

@media (max-width:1200px){
    .section-two .inner-wrap {
        flex-wrap: wrap;
    }
}
@media (max-width:992px){
    .section-two .inner-wrap .inner-image{
        width: 100%;

    }
    .section-two .inner-wrap .inner-content{
        width: 100%;
        flex: none;
    }
}
@media (max-width:767px){
    .section-two .inner-wrap .inner-content{
        text-align: center;
    }
    .section-two .inner-wrap .inner-list{
        justify-content: center;
    }
    .section-two .inner-wrap .inner-title{
        font-size: 40px;
    }
}

/* end section-two */
/* section-three */
.section-three{
    background: var(--color-two);
    padding-top: 100px;
    padding-bottom: 100px;


}
.section-three .inner-wrap {
    display: flex;
    padding: 40px;
    background: white;
    border-radius: 8px;

}
.section-three .inner-image{
    width:45%;
    margin-left: 30px;

}
.section-three .inner-image img{
    width:100%;
    height:auto;
    border-radius: 8px;
    margin-top: -100px;
    margin-bottom: -40px;
}
.section-three .inner-content{
    flex:1;
}

.section-three .inner-content .inner-subtitle{
    margin-top: 0;
    color:rgb(173, 172, 172) ;
}
.section-three .inner-content .inner-title{
    margin-top: 0;
    margin-bottom: 0;
    color:black ;
    font-size: 68px;
}

/* end section-three */
/* section-four */
.section-four{
    padding: 80px;
}
.section-four  .inner-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.section-four .inner-item{
    width: calc(33.33% - 20px);
    color:gray;
    font-size: 20px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-top: 20px;

}
.section-four  .inner-item i{
    font-size: 24px;
    margin-right: 20px;

}




/* end section-four */
/* view in action */
.box-center{
    text-align: center;
    margin-bottom: 30px;
}
.view-action{
    padding:80px;
    background:#DCE8EB ;
}
.view-action .inner-wrap{
    position: relative;
    aspect-ratio: 16/9;
    overflow: hidden;
}
.view-action .inner-wrap .inner-button{
    position: absolute;
    top:calc(50% - 60px);
    left:calc(50% - 60px);
    background: pink;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.view-action .inner-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
/* end view in action */
/* contact-form */
.contact-form .button{
    color: white;
    background: black;
    border: 2px solid white;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 10px;
}

.contact-form .button:hover{
    background:pink;
    border-color: #EFEFEF;
}
.contact-form{
    padding: 80px 0;
}
.contact-form .inner-wrap{
    background: #DCE8EB;
    padding:60px ;
    border-radius: 8px;
}
.box-head .inner-sub-title{
    color: gray;
    margin-top: 0;
    margin-bottom: 10px;

}
.box-head .inner-title{
    font-size: 60px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}
.contact-form .inner-form-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}
.contact-form .inner-form-wrap input{
    width: 33%;
    height: 50px;
}
.contact-form .inner-form-wrap textarea{
    width: 100%;
    height: 150px;
}
.contact-form .inner-form-wrap input,.contact-form .inner-form-wrap textarea{
    margin-bottom: 15px;
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
    outline: 0;
}
.contact-form .inner-button{
    text-align: right;
}
/* end form action */